In [7]:
import pandas as pd

data = pd.read_csv('My_Data.csv')
print(data.head(10))

                     Job titiles AI Impact  Tasks  AI models  \
0         Communications Manager       98%    365       2546
1                 Data Collector       95%    299       2148
2                     Data Entry       95%    325       2278
3                     Mail Clerk       95%    193       1366
4             Compliance Officer       92%    194       1369
5  Chief Executive Officer (CEO)       91%    153       1135
6                      Therapist       90%    114        983
7         Chief Strategy Officer       90%    184       1284
8                          Admin       90%    253       2014
9                  General Clerk       90%    242       1903

   AI_Workload_Ratio                     Domain
0           0.143362         Communication & PR
1           0.139199                  Data & IT
2           0.142669  Administrative & Clerical
3           0.141288      Leadership & Strategy
4           0.141709       Medical & Healthcare
5           0.134802   Supply Chain & Logistics
6           0.115972            Law Enforcement
7           0.143302               Construction
8           0.125621          Sales & Marketing
9           0.127168                Hospitality

In [9]:


# Convert 'AI Impact' column to float after stripping the '%' symbol
data['AI Impact'] = data['AI Impact'].str.rstrip('%').astype(float)

In [14]:
mean_impact = data.groupby('Job titiles')['AI Impact'].mean().sort_values()

# Print job titles with highest and lowest AI impact
print("Job Title with the highest AI impact:")
print(mean_impact.idxmax())

Job Title with the highest AI impact:
Communications Manager

In [15]:
print("Job Title with the lowest AI impact:")
print(mean_impact.idxmin())

Job Title with the lowest AI impact:
Zoologist

In [16]:
# Extract unique domains
unique_domains = data['Domain'].unique()

# Print unique domains
print("Unique Domains:")
for domain in unique_domains:
    print(domain)

Unique Domains:
Communication & PR
Data & IT
Administrative & Clerical
Leadership & Strategy
Medical & Healthcare
Supply Chain & Logistics
Law Enforcement
Construction
Sales & Marketing
Hospitality

In [18]:
data_it_jobs = data[data['Domain'].isin(['Data & IT'])]

In [20]:
mean_impact_data_it = data_it_jobs.groupby('Job titiles')['AI Impact'].mean()

In [21]:
least_impact_job_data_it = mean_impact_data_it.idxmin()
print("Job Title with the least AI impact within the Data & IT domains:", least_impact_job_data_it)

Job Title with the least AI impact within the Data & IT domains: Admissions Coordinator

In [22]:
threshold = 0.8
high_workload_jobs = data[data['AI_Workload_Ratio'] > threshold]
print("High Workload Jobs:")
print(high_workload_jobs)

High Workload Jobs:
               Job titiles  AI Impact  Tasks  AI models  AI_Workload_Ratio  \
3034         Charter Pilot       20.0      2          0                inf
3035      Commercial Pilot       20.0      2          0                inf
3036             Conductor       20.0      2          0                inf
3037       Corporate Pilot       20.0      2          0                inf
3058  After School Teacher       20.0      1          1           1.000000
3184           Dog Groomer       20.0      4          0                inf
3185           Dog Trainer       20.0      5          6           0.833333
3211             Constable       20.0      3          0                inf
3322        Crossing Guard       20.0      2          0                inf

                         Domain
3034       Medical & Healthcare
3035   Supply Chain & Logistics
3036            Law Enforcement
3037               Construction
3058          Sales & Marketing
3184       Medical & Healthcare
3185   Supply Chain & Logistics
3211                  Data & IT
3322  Administrative & Clerical

In [23]:
top_ai_models = data['AI models'].value_counts().head(10)
print("\nTop AI Models Used:")
print(top_ai_models)

Top AI Models Used:
AI models
46      31
60      15
57      11
1049     9
20       9
49       8
879      8
1446     7
0        7
1427     7
Name: count, dtype: int64

In [25]:
tasks_distribution = data.groupby('Job titiles')['Tasks'].apply(lambda x: ','.join(map(str, x))).reset_index()
print(tasks_distribution)

                 Job titiles Tasks
0             .Net Developer   248
1                3D Animator   132
2                  3D Artist   156
3                3D Designer   272
4                 3D Modeler   204
...                      ...   ...
4701  Youth Program Director   771
4702        Youth Specialist   229
4703            Youth Worker   158
4704          Zamboni Driver   172
4705               Zoologist   307

[4706 rows x 2 columns]